## 1. Einführung
19.04.2018

# Python

* Jupyter Notebooks
* Numpy
* Pandas
* MatPlotLib
* collections

## Daten einlesen

In [1]:
import pandas as pd

In [3]:
sp_authors = pd.read_csv("../Datensaetze/sp-authors.tsv", sep="\t")

In [4]:
sp_authors.head()

,id,author-fullname,author,birth,death,gender,pages-in-manual,novels,works,life-span,digitzed-by
0,1,Rosalía de Castro,RdCastro,1837,1885,female,17,1,1,48,6
1,2,Enrique Pérez Escrich,Escrich,1829,1897,male,1,4,17,68,5
2,3,Antonio de Trueba y de la Quintana,Trueba,1819,1889,male,1,0,1,70,6
3,4,José Selgas Carrasco,Selgas,1822,1882,male,1,5,7,60,4
4,5,Francisco Navarro Villoslada,Villoslada,1818,1895,male,1,0,0,77,5

In [5]:
sp_authors["life-span"][0:10]

0    48
1    68
2    70
3    60
4    77
5    68
6    58
7    58
8    73
9    81
Name: life-span, dtype: int64

In [7]:
print(sp_authors["life-span"].values.tolist(), end=" ")

[48, 68, 70, 60, 77, 68, 58, 58, 73, 81, 77, 70, 49, 85, 64, 71, 66, 61, 47, 98, 52, 66, 78, 56, 80, 48, 63, 62, 47, 82, 46, 65, 62, 80, 52, 51, 85, 67, 72, 84, 94, 51, 82, 75, 83, 71, 90, 80, 55, 59, 51, 59, 55, 66, 56, 73, 66, 55, 54, 59, 73, 63, 88, 61, 78, 78, 42, 48, 41, 75, 83, 88, 85, 81, 86, 62, 79, 52, 42, 66, 34, 85, 51, 72, 84, 92, 73, 60, 88, 81, 36, 54, 71, 70, 72, 65, 75, 74, 60, 74, 59, 39, 92, 68, 77, 36, 61, 83, 32, 65, 84, 64, 65, 60, 61, 90, 68, 53, 96, 81, 103, 60, 65, 84, 71, 86, 68, 86, 72, 70, 80, 49, 53]