## 4. Lage- und Streuparameter
17.05.2018

In [1]:
import pandas as pd
import math
sp_novels = pd.read_csv("../Datensaetze/spanish-novels.tsv", sep="\t")

In [2]:
sp_novels.head()

,idno,author-country,author-name,author-gender,title,year,narrator,protagonist-gender,protagonist-social-level,protagonist-social-level-nr,time-span,type-end,type-end-nr,canon-proxy,size_words,size_chars,decade
0,ne0001,Spain,Baroja,male,Mayorazgo,1903,third-person,male,high,1,365,positive,1,2.0,51032,294083,1900
1,ne0002,Spain,Galdos,male,Misericordia,1889,third-person,female,low,-1,90,negative,-1,6.0,83782,476876,1880
2,ne0003,Spain,Galdos,male,Nazarin,1895,third-person,male,low,-1,90,positive,1,2.0,64723,366700,1890
3,ne0004,Spain,Galdos,male,Halma,1895,third-person,mixed,high,1,365,positive,1,1.0,73342,424834,1890
4,ne0005,Spain,Galdos,male,Tristana,1892,third-person,female,low,-1,1800,positive,1,2.0,52555,300788,1890

# Lagerparameter

In [3]:
median = sp_novels["time-span"].median()
median

365.0

In [4]:
mode = sp_novels["time-span"].mode()
mode

0    365
dtype: int64

In [5]:
median = sp_novels["narrator"].median() # Man kann nicht das Median aus kategorialen Daten berechnen

TypeError: could not convert string to float: 'third-person'

In [6]:
mode = sp_novels["narrator"].mode()
mode

0    third-person
dtype: object

In [7]:
mode = sp_novels["author-gender"].mode()
mode

0    male
dtype: object

# Streuparameter

In [8]:
quantile_1 = sp_novels["time-span"].quantile(q = 0.25)
quantile_3 = sp_novels["time-span"].quantile(q = 0.75)

In [9]:
iqr = quantile_3 - quantile_1
iqr

1461.25

In [10]:
set(sp_novels["narrator"])

{'first-person', 'mixed', 'second-person', 'third-person'}

In [11]:
len(set(sp_novels["narrator"]))

4

In [12]:
len(set(sp_novels["author-gender"]))

2